@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

/* align items to left */

#what .items .item {
  display: flex;
  text-align: left;
}

/* positon icon */

#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

#contact .map{
  flex: 2;
}

